extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      .panel.panel-default(style='background-color: #000')
        .panel-body
          img(src='http://i.imgur.com/2AaBlpf.png', height=40)
          a(href='/api/github', style='color: #fff')  GitHub
    .col-sm-4
      .panel.panel-default(style='background-color: #3b5998')
        .panel-body
          img(src='http://i.imgur.com/jiztYCH.png', height=40)
          a(href='/api/facebook', style='color: #fff')  Facebook
    .col-sm-4
      .panel.panel-default(style='background-color: #3da8e5')
        .panel-body
          img(src='http://i.imgur.com/w3s2RvW.png', height=40)
          a(href='/api/stripe', style='color: #fff')  Stripe
    .col-sm-4
      .panel.panel-default(style='background-color: #1f93cf')
        .panel-body
          img(src='http://i.imgur.com/90tl9C8.gif', height=40)
          a(href='/api/venmo', style='color: #fff')  Venmo
